.vc_custom_1593501407134 {
    padding-top: 3% !important;
    padding-bottom: 3% !important;
    background-image: url(../images/bg.png) !important;
}

.vc_custom_1594570077296 {
    padding-top: 110px !important;
    padding-bottom: 80px !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1594570040826 {
    padding-top: 80px !important;
}

.vc_custom_1593501348587 {
    background-image: url(../images/bg-05.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1594174575567 {
    padding-top: 85px !important;
    padding-bottom: 110px !important;
    background-image: url(../images/bg-01.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1594963502751 {
    padding-top: 82px !important;
    padding-bottom: 110px !important;
    background-image: url(../images/bg-01.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1594174608735 {
    padding-top: 85px !important;
    padding-bottom: 108px !important;
    background-image: url(../images/bg-03.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1595495419341 {
    padding-bottom: 70px !important;
}

.vc_custom_1594357903690 {
    margin-top: 85px !important;
    padding-bottom: 110px !important;
}

.vc_custom_1592749774132 {
    padding-top: 85px !important;
    padding-bottom: 64px !important;
    background-image: url(../images/background-2.jpg?id=4138) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.vc_custom_1590168390922 {
    padding-bottom: 110px !important;
}

.vc_custom_1593495029199 {
    padding-top: 85px !important;
    padding-bottom: 110px !important;
}